<!DOCTYPE html>
<html>
<head>
    <title>iruel.net : {{ page.title }} </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <link href="http://feeds.feedburner.com/iruel" type="application/atom+xml" rel="alternate" title="iruel.net" />
</head>
<body class='{{ page.page_name }}'>
    <div id="top">
    </div>
    
    <div id="content">
    <div id="banner">
        <h1>iruel.net</h1>
       
				<form action="http://iruel.net/search" id="cse-search-box">
					<div>
						<input type="hidden" name="cx" value="partner-pub-9687383508625465:xml36r-xhuy" />
						<input type="hidden" name="cof" value="FORID:11" />
						<input type="hidden" name="ie" value="ISO-8859-1" />
						<input type="text" name="q" size="31" />
						<input type="submit" name="sa" value="Search" />
					</div>
				</form>
				<div class='clear'></div>
				<ul>
					<li class='about'><a href='/about/'>About</a></li>
					<li class='blog'><a href='/'>Blog</a></li>
					<li class='archives'><a href='/tags/'>Archives</a></li>
					<li class='resume'><a href='/resume/'>Resume</a></li>
					<li style='float:right'><a href="http://feeds.feedburner.com/iruel">RSS</a></li>
					<li style='float:none;' class='clear'></li>
				</ul>
        <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>

    </div>
    
    <div id="page">
            <div id="main">
                {{ content }}
            </div>
            <div id="sidebar">
              <br />
		<h3>Around the Web</h3>
		<ul id="links">
			<li class="github"><a href="http://github.com/sardaukar/" rel="me" class="url">Github</a></li>
			<li class="twitter"><a href="http://twitter.com/sardaukar_siet" rel="me" class="url">Twitter</a></li>
			<li class="linkedin"><a href="http://pt.linkedin.com/in/brunoantunes" rel="me" class="url">LinkedIn Profile</a></li>
			<li class="reader"><a href="http://www.google.com/reader/shared/sardaukar.siet" rel="me" class="url">Google Reader</a></li>
			<li class="tumblr"><a href="http://no-set-territories.tumblr.com" rel="me" class="url">Tumblr</a></li>
		</ul>
							
              <div id="twitter_div">
                  
              <h3>Twitter Updates</h3>
              <ul id="twitter_update_list"></ul>
              </div>
              <br />
              <script type="text/javascript">
              google_ad_client = "pub-9687383508625465";
              google_ad_slot = "2409882866";
              google_ad_width = 300;
              google_ad_height = 250;
              </script>
              <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
              </script>
              
            </div>
        <div id="license">
        </div>
        
    </div>
</div>


    <div id="bottom">
	      <a href="/about/">About</a> |
        <a href="/">Blog</a> |
        <a href="/tags/">Archives</a> |
				<a href="/resume/">Resume</a> |
        <a href="http://feeds.feedburner.com/iruel">RSS</a>
    </div>
    
    <!-- Google Analytics Code -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-2191086-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    
    <!-- Twitter Badge Code -->
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
    <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/sardaukar_siet.json?callback=twitterCallback2&amp;count=5"></script>

</body>
</html>

